# .env

# Безопасность и аутентификация -----------------------------------------------------------
INTERNAL_API_SECRET=your_extremely_safety_internal_api_secret

# Логирование -----------------------------------------------------------------------------
LOG_PATH=logs
LOGGING_LEVEL=INFO
LOG_FORMAT="%(asctime)s | %(name)s | %(levelname)-8s | %(message)s"
DOCKER_ENV=false

# Тайм-ауты -------------------------------------------------------------------------------
# Тайм-аут для операций эмбеддинга (медленные)
EMBED_TIMEOUT=30.0
# Тайм-аут для операций токенизации (быстрые)
TOKENIZE_TIMEOUT=5.0

# Ограничения длин очередей ---------------------------------------------------------------
OUTPUT_QUEUE_MAXSIZE=1000
INPUT_QUEUE_MAXSIZE=1000

# Обработка некорректных значений в эмбеддингах
EMBEDDING_CLEAN_NAN=true           # Заменять ли NaN/Inf
EMBEDDING_NAN_REPLACEMENT=0.0      # На что заменять
EMBEDDING_LOG_NAN=true             # Логировать ли факт замены

# Режим применения эндпойнта /tokenize ---------------------------------------------------- 
# Оригинальный TEI возвращает полную информацию о токенах. 
# Это не всегда и не всем требуется. Например, для основного применения - подсчета 
# длины текста в токенах - достаточно только определить длину списков с информацией о токенах, 
# а сама информация не нужна. Поэтому предусматриваем режим "lite", 
# в котором информация по токенам будет содержать типовые плейсхолдеры
TOKENIZE_MODE=lite # или full

# Лимиты на входящие запросы --------------------------------------------------------------
# При превышении лимитов сервис должен вызвать ValidationError

# Максимально допустимое кол-во текстов в батче.
# Предполагается, что модель Sentence Transformers сама поделит большой батч на порции,
# однако, для подстраховки от переполнения памяти введем предварительное ограничение
MAX_SERVICE_BATCH_SIZE=128 

# Максимально допустимая длина одного текста в запросе. 
# Этот параметр не связан напрямую со свойством max_seq_len конкретной эмбеддинговой модели 
# Это просто подстраховка, чтобы не "забить" сервис заведомо огромными запросами
MAX_TEXT_LENGTH=10000

# Максимально допустимая суммарная длина текстов в батче
MAX_TOTAL_BATCH_LENGTH=500000


# Rate limiting и защита от Ddos ---------------------------------------------------------

RATE_LIMIT_INFO=500/minute
RATE_LIMIT_HEALTH=500/minute
RATE_LIMIT_EMBED=200/minute              
RATE_LIMIT_COUNT_TOKENS=600/minute       
RATE_LIMIT_COUNT_TOKENS_BATCH=200/minute 