# .env.pikabu.example

SERVER_NAME=pikabu
SERVER_TYPE=classifier

SERVER_PORT=8265 # в коде не используется, нужно только для запуска с procfile

DEVICE=mps

HUGGING_FACE_MODEL_NAME=sismetanin/rubert-toxic-pikabu-2ch
MAX_MODEL_BATCH_SIZE=32

# Тайм-ауты: максимальное время выполнения операции (от входа в эндпоинт до возврата результата)
PREDICT_TIMEOUT=30.0