# .env.example

# Безопасность и аутентификация -----------------------------------------------------------
ALLOWED_JWT_ALGORITHMS=HS256,RS256

# Тайм-ауты сервиса по умолчанию ----------------------------------------------------------
ENCODER_BASE_TIMEOUT=15
ENCODER_BATCH_TIMEOUT=60
# жесткий потолок таймаута - сервис НИКОГДА не будет ждать дольше
MAX_SERVICE_TIMEOUT=120 

# Лимиты на входящие запросы --------------------------------------------------------------
# При превышении лимитов сервис должен вызвать ValidationError

# Максимально допустимое кол-во текстов в батче.
# Предполагается, что модель Sentence Transformers сама поделит большой батч на порции,
# однако, для подстраховки от переполнения памяти введем предварительное ограничение
MAX_BATCH_SIZE=256 

# Максимально допустимая длина одного текста в запросе. 
# Этот параметр не связан напрямую со свойством max_seq_len конкретной эмбеддинговой модели 
# (которая, как ожидается сама обрежет лишнее). Это просто подстраховка, 
# чтобы не "забить" сервис заведомо выссмысленно огромными запросами
MAX_TEXT_LENGTH=10000

# Максимально допустимая суммарная длина текстов в батче
MAX_TOTAL_BATCH_LENGTH=100000


# Rate limiting и защита от Ddos ---------------------------------------------------------

RATE_LIMIT_INFO=500/minute              # /info, /health - можно чаще
RATE_LIMIT_ENCODE=120/minute            # одиночный encode
RATE_LIMIT_ENCODE_BATCH=40/minute       # batch encode
RATE_LIMIT_COUNT_TOKENS=200/minute      # одиночный подсчет токенов в тексте
RATE_LIMIT_COUNT_TOKENS_BATCH=60/minute # батчевый подсчет токенов в тексте