# .env.frida.example

ENCODER_NAME=frida

ENCODER_SERVICE_PORT=8260 # в коде не используется, нужно только для запуска с procfile

DEVICE=mps

# Описание эмбеддинговой модели
HUGGING_FACE_MODEL_NAME="ai-forever/FRIDA" 

MAX_MODEL_BATCH_SIZE=32