# .env.frida.example

SERVER_NAME=frida
SERVER_TYPE=encoder

SERVER_PORT=8260 # в коде не используется, нужно только для запуска с procfile

DEVICE=mps

HUGGING_FACE_MODEL_NAME=ai-forever/FRIDA
MAX_MODEL_BATCH_SIZE=32

# Режим применения эндпойнта /tokenize:
# Оригинальный TEI возвращает полную информацию о токенах. 
# Это не всегда и не всем требуется. Например, для основного применения - подсчета 
# длины текста в токенах - достаточно только определить длину списков с информацией о токенах, 
# а сама информация не нужна. Поэтому предусматриваем режим "lite", 
# в котором информация по токенам будет содержать типовые плейсхолдеры
TOKENIZE_MODE=lite # или full

# Тайм-ауты: максимальное время выполнения операции (от входа в эндпоинт до возврата результата)
EMBED_TIMEOUT=30.0
TOKENIZE_TIMEOUT=15.0