# .env

# --- Безопасность и аутентификация ---

INTERNAL_API_SECRET=your_extremely_safety_internal_api_secret
REQUIRE_AUTH=false

# --- Логирование ---

LOG_PATH=logs
LOGGING_LEVEL=INFO
LOG_FORMAT="%(asctime)s | %(name)-24s | %(levelname)-8s | %(message)s"
DOCKER_ENV=false

# --- Ограничения длин очередей ---

OUTPUT_QUEUE_MAXSIZE=1000
INPUT_QUEUE_MAXSIZE=1000

# --- Обработка NaN/Inf в эмбеддингах ---
EMBEDDING_CLEAN_NAN=true           # Заменять ли NaN/Inf
EMBEDDING_NAN_REPLACEMENT=0.0      # На что заменять
EMBEDDING_LOG_NAN=true             # Логировать ли факт замены


# --- Лимиты на входящие запросы ---
# При превышении лимитов сервис должен вызвать ValidationError

# Максимально допустимое ДЛЯ СЕРВИСА кол-во текстов в батче. 
# Этот параметр не имеет отношения к модели. 
# Воркеры сервиса разбивают батч на подбатчи, подходящие для конкретной модели.
# А данный параметр является именно предварительным ограничением самого сервиса, 
# чтобы не произошел коллапс ресурсов.
MAX_SERVICE_BATCH_SIZE=128 

# Максимально допустимая длина одного текста в запросе. 
# Этот параметр не связан напрямую со свойством max_seq_len конкретной эмбеддинговой модели 
# Это просто подстраховка, чтобы не "забить" сервис заведомо огромными запросами
MAX_TEXT_LENGTH=10000

# Максимально допустимая суммарная длина текстов в батче
MAX_TOTAL_BATCH_LENGTH=500000


# --- Rate limiting и защита от Ddos ---

RATE_LIMIT_INFO=500/minute
RATE_LIMIT_HEALTH=500/minute
RATE_LIMIT_EMBED=200/minute              
RATE_LIMIT_TOKENIZE=600/minute
RATE_LIMIT_PREDICT=200/minute