ENCODER_NAME=frida
# ENCODER_NAME=deepvk

INTERNAL_API_SECRET=*****

ENCODER_SERVICE_PORT=8260 # в коде не используется, нужно только для запуска с procfile

DEVICE=mps

# Описание эмбеддинговой модели
HUGGING_FACE_MODEL_NAME="ai-forever/FRIDA" 
VECTOR_SIZE=1536
MAX_SEQ_LENGTH=512
QUERY_PREFIX="search_query: "
DOCUMENT_PREFIX="search_document: "

# HUGGING_FACE_MODEL_NAME="deepvk/USER2-base"
# VECTOR_SIZE=768
# MAX_SEQ_LENGTH=8192
# QUERY_PREFIX="search_query: "
# DOCUMENT_PREFIX="search_document: "